<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="HollardPackagesFeed"
      value="https://pkgs.dev.azure.com/hollard-insure/24c0e85e-eefd-46da-bc5e-2d5b48486c91/_packaging/hollard-packages-feed/nuget/v3/index.json" />
    <add key="HollardIntegrationFeed"
      value="https://pkgs.dev.azure.com/hollard-insure/24c0e85e-eefd-46da-bc5e-2d5b48486c91/_packaging/integration-feed/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <HollardPackagesFeed>
      <add key="Username" value="PersonalAccessToken" />
      <add key="ClearTextPassword" value="kijynsi3nqvo4dgoonex3xfuovyklfbkuqz7imwglstf53y43z5q" />
    </HollardPackagesFeed>
    <HollardIntegrationFeed>
      <add key="Username" value="PersonalAccessToken" />
      <add key="ClearTextPassword" value="kijynsi3nqvo4dgoonex3xfuovyklfbkuqz7imwglstf53y43z5q" />
    </HollardIntegrationFeed>
  </packageSourceCredentials>
</configuration>